@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

.header {

    position: fixed;
    top: 0px;
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: large;
    font-family: "Lexend Exa", sans-serif;
    font-weight: normal;
    font-style: normal;
    height: 60px;
    display: flex;
    grid-template-rows: auto;
    flex-direction: row;
    z-index: 10;

    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chatbutton {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: #55EFC4;
}

:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 4px;
}

.chaticon {
    background-color: transparent;

}